[submodule "tools/kube-monkey/kube-monkey"]
	path = tools/kube-monkey/kube-monkey
	url = https://github.com/asobti/kube-monkey
[submodule "microservice-kubernetes-demo/microservice-kubernetes"]
	path = microservice-kubernetes-demo/microservice-kubernetes
	url = https://github.com/ewolff/microservice-kubernetes
