[submodule "tools/kube-monkey-tool/kube-monkey"]
	path = tools/kube-monkey-tool/kube-monkey
	url = https://github.com/asobti/kube-monkey
[submodule "microservice-kubernetes-demo/microservice-kubernetes"]
	path = microservice-kubernetes-demo/microservice-kubernetes
	url = https://github.com/ewolff/microservice-kubernetes
[submodule "tools/chaos-mesh-tool/chaos-mesh"]
	path = tools/chaos-mesh-tool/chaos-mesh
	url = https://github.com/chaos-mesh/chaos-mesh
